/.coverage
/.idea/
/py36/
/build/
/dist/
/services
/config.d/
/winkle.egg-info/
/requirements_frozen.txt
/cde/haproxy.cfg
/cde/.consul/
/cde/consul.log
/cde/.haproxy.pid
__pycache__
/bin
/lib
/lib64
/pip.conf
/pyvenv.cfg
*.pyc
/pip-selfcheck.json
